.navbar
    background-color: #000
    display: flex
    align-items: center
    justify-content: space-between
    padding: 16px 24px

    &__logo
        z-index: 2

    &__wrapper
        display: flex
        align-items: center

    &__links
        display: flex
        align-items: center
        list-style: none
        color: #fff

    &__euro-link
        height: 48px

    &__link,
    &__hamburger
        margin-left: 40px

    &__link
        display: flex
        align-items: center
        cursor: pointer
        text-transform: uppercase
        font-weight: 700
        font-size: 16px

        svg
            margin-left: 6px
            width: 20px
            height: 20px
            fill: #fff

        &:hover
            color: #BA160A

            svg
                fill: #BA160A

    &__hamburger
        width: 26px
        height: 3px
        border-radius: 5px
        background-color: #BA160A
        cursor: pointer
        z-index: 2

        &::before,
        &::after
            content: ""
            display: block
            width: inherit
            height: inherit
            background-color: inherit
            border-radius: inherit

        &::before
            transform: translateY(-6px)

        &::after
            transform: translateY(3px)

@media only screen and (max-width: 768px)
    .navbar
        &__links
            width: 100%
            position: absolute
            top: 0
            left: 0
            flex-direction: column
            background-color: #000
            transform: translateY(-100%)
            opacity: 0

            &--show
                opacity: 1
                transform: translateY(27%)

        &__link
            width: 100%
            justify-content: center
            padding: 1rem
            margin: 0